/* MikeKuzin.com Initial Development
   Version 2.0 Beta
---------------------------------------- */

/*
  ✰ HTML5 / SASSY CSS3 / PHP / jQuery = Yummy ✰
*/

@import 'modules/mixins';
@import 'modules/reset';

/*
    Global Rules .class format
*/

* { margin: 0 auto; }
* html,
* html body {
    width: 100%;
    height: 100%;
    font-size: 12px; }
.clearfix { zoom: 1; clear: both }
.clearfix:before,
.clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
.hidden { display:none;visibility:hidden }
.ir { display:block;text-indent:-999em;overflow:hidden;
      background-repeat:no-repeat;text-align:left;direction:ltr }


/* Colors
---------------------------------------- */
$primary : #5d8ea2;
$secondary : #333c3f;

/* Layout && Globals
---------------------------------------- */
body { background: #333 url(img/bg.png) repeat; }
header#main {
    width: 800px;
    margin: 0 auto; }
section { width: 800px; }
footer {
    width: 800px;
    margin: 0 auto; }
hr {
    background: url(img/hr.png) repeat-x;
    height: 8px;
    border: none !important; }
.clearfix { clear:both; }

/* Buttons
---------------------------------------- */

a#logo {
    background: url(img/logo_colors.png) no-repeat;
    width: 449px;
    height: 332px;
    display: block;
    position: absolute;
    top: -70px;
    margin-left: -90px; }
input.button-input {
    display: block;
    border: 1px solid white !important;
    height: 33px;
    width: 100%;
    margin-top: 15px;
    font: normal bold 14px/18px 'Arial';
    position: relative;
    text-align: center;
    text-decoration: none;
    color: white;
    @include letterpress($primary, 0, -1px);
    background: url(img/button-sprite.png) bottom center repeat-x;
    &:before {
        content: url(img/button-sprite.png) top center no-repeat;
        height: 33px;
        width: 19px;
        overflow: hidden;
        position: absolute;
        left: -19px; }
    &:after {
        content:  url(img/button-right.png);
        height: 33px;
        width: 19px;
        overflow: hidden;
        position: absolute;
        right: -19px; } }
a.button {
    display: block;
    height: 33px;
    font: normal bold 14px/30px 'Arial';
    position: relative;
    margin-left: 19px;
    margin-right: 19px;
    text-align: center;
    text-decoration: none;
    color: white;
    @include letterpress($primary, 0, -1px);
    background: url(img/button-sprite.png) bottom center repeat-x;
    &:before {
        content: url(img/button-sprite.png) top center no-repeat;
        height: 33px;
        width: 19px;
        overflow: hidden;
        position: absolute;
        left: -19px; }
    &:after {
        content:  url(img/button-right.png);
        height: 33px;
        width: 19px;
        overflow: hidden;
        position: absolute;
        right: -19px; } }


/* Header
---------------------------------------- */
header#main {
    @include clearfix;
    margin-bottom: 30px;
    nav {
        ul { float: right;
            li {
                display: inline-block;
                &.selected {
                    a {
                        background: url(img/nav-bg.png) repeat;
                        color: $primary;
                        @include letterpress(#FFF);
                    } }
                &:hover {
                    a {
                    top: 0px;
                    &#home { background: rgba(0,0,0,0.2) url(img/home-icon.png) center 110px no-repeat; }
                    &#about { background: rgba(0,0,0,0.2) url(img/info-icon.png) center 110px no-repeat; }
                    &#contact { background: rgba(0,0,0,0.2) url(img/contact-icon.png) center 110px no-repeat; }
                    &#services { background: rgba(0,0,0,0.2) url(img/services-icon.png) center 110px no-repeat; }
                    text-indent: -9999px;
                    color: $primary;
                    @include shadow(inset 0 0 5px #333);
                    @include letterpress(rgba(0,0,0,0.5));} }
                a {
                    text-decoration: none !important;
                    display: block;
                    padding: 120px 15px 10px 15px;
                    margin: 0 0 0 15px;
                    min-width: 51px;
                    text-align: center;
                    cursor: pointer;
                    font: normal normal 18px 'Dancing Script';
                    color: #ccc;
                    position: relative;
                    top: -10px;
                    @include letterpress(#333, 0, -1px);
                    @include allround(0 0 5px 5px);
                    -webkit-transition: top;
                    -webkit-transition-timing-function: ease-in;
                    -webkit-transition-duration: 250ms; } } } } }

/* Section Rules
---------------------------------------- */
section {
    @include clearfix;
    margin: 0 auto 25px;
    position: relative;
    div.content-left,
    div.content {
        z-index: 10;
        background: white;
        padding: 30px 60px;
        h2 {
            font: normal italic 27px/27px 'Dancing Script';
            margin-bottom: 15px;
            color: $primary; }
        p {
            color: $secondary;
            strong {
                color: $primary !important; }
            line-height: 20px;
            font-size: 12px;
            margin-bottom: 10px;
            a {
                color: $primary !important;
                text-decoration: none;
                &:hover { text-decoration: underline; } } } }
    header { position: relative;
        &:before {
            position: absolute;
            left: -46px;
            top: 20px;
            width: 46px;
            background: $primary;
            height: 52px;
            content: url(img/banner-left.png); }
        &:after {
            position: absolute;
            right: -46px;
            top: 20px;
            width: 46px;
            background: $primary;
            height: 52px;
            content: url(img/banner-right.png);}
        background: $primary url(img/header-bg.png) repeat-x;
        height: 51px;
        font: normal normal 25px/50px 'Dancing Script';
        text-align: center;
        color: white;
        @include letterpress($secondary, 0, -1px); } }
.section-footer {
    @include clearfix;
    background: url(img/content-footer.png);
    z-index: 5;
    height: 18px;
    width: 792px;
    display: block;
    margin-top: -8px; }

/* Footer Rules
---------------------------------------- */
footer {
    #footer-left {
        width: 250px;
        background: white;
        float: left;
        margin-right: 30px;
        margin-bottom: 30px;
        #footer-left-container { padding: 20px;
            p {
                font: normal normal 16px/24px 'Georgia';
                color: $primary;
                &.first-row {
                    margin-bottom: 10px;
                    margin-top:5px; } } } }
    #footer-right {
        float: left;
        width: 520px;
        #footer-right-left {
            width: 250px;
            float: left; }
        #footer-right-container {
            background: white;
            padding: 20px;
            #tweet-blurb {
                margin-left: 260px;
                background: url(img/h2-vert.png) repeat-y left top;
                padding: 0 0 0 25px;
                height: 117px !important;
                font: normal normal 11px/22px 'Arial';
                span { color: $primary; } }
            #contact-blurb {
                background: url(img/chat-icon.png) no-repeat left center;
                padding: 0 0 0 70px;
                font: normal normal 16px/24px 'Georgia';
                color: $primary; }
            .social {
                height: 16px;
                width: 16px;
                overflow: hidden;
                text-indent: -99999px;
                font-size: 0;
                display: inline-block;
                margin-bottom: 15px;
                &#facebook { background: url(img/facebook.png) no-repeat !important; }
                &#twitter { background: url(img/twitter.png) no-repeat !important; }
                &#flickr { background: url(img/flickr.png) no-repeat !important; } } }
        #footer-right-footer { background: transparent;
            .small-logo {
                background: url(img/small-logo.png) no-repeat;
                width: 110px;
                height: 28px;
                display: inline-block;
                margin-top: 15px;
                overflow: hidden;
                text-index: -9999px;
                font-size: 0; }
            p {
                margin-top: 15px;
                float: right;
                text-align: right;
                font: 11px/16px 'Arial';
                color: #AAA;
                a {
                    color: #CCC;
                    text-decoration: none;
                    &:hover { text-decoration: underline; } } } } } }

/* Misc
---------------------------------------- */

ul.product-pricing {
    li {
        p {
            em {
                font-style: italic; } } } }


 h2 {
padding-top:15px;
}

.content-select {
    float: left;
    width: 190px;
    height: 100px;
    margin-right: 20px;
    background: purple;
    position: absolute;
    top: 0;
    left: 10px;
}

ul.product-pricing {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
        clear: both;
    	color: #333 !important;
    	margin: 7px 0;
    	font:  normal 14px/20px 'Arial';
    	padding: 10px;
    	border-radius: 5px;
    	background: #eee;
    	&:nth-child(2n+1) {
    	    background: #e9e1f0;}
    	strong {
    	    color: #333 !important;
        	float: right;
        	/* Change Me */
        	font: bold 16px 'Dancing Script'}
        p {
            color: #777 !important;
        	margin: 7px 0 !important;
            strong {
                float: right;
                color: #333 !important;
            	float: right;
            	/* Change Me */
            	font: bold 16px 'Dancing Script'
            }
        }
    }
}

.menu-wrap {
    position: absolute;
    top: 70px;
    bottom: 10px;
    overflow: hidden;
    width: 201px;}
#menu {
	background: none;
	ul.menu-list {
    	list-style: none;
    	margin: 0;
    	padding: 0;
    	&:after {
    	    content:  url(img/flourish.png);
        	position: relative;
        	left: 45px; }
    	li {
    	    margin: 10px;
    	    a {
                background: url(img/nav-bg.png) repeat;
                color: #5d8ea2;
            	padding: 10px;
            	text-align: center;
            	@include allround(5px);
            	display: block;
            	text-decoration: none;
            	box-shadow: 0 2px 0 #ddd;
            	-webkit-box-shadow: 0 2px 0 #ddd;
            	-moz-box-shadow: 0 2px 0 #ddd;
            	text-shadow: 0 1px 0 #fff;
            	-moz-text-shadow: 0 1px 0 #fff;
            	-webkit-text-shadow: 0 1px 0 #fff;
            	font: normal bold 19px 'Dancing Script';
            	&:hover {
            	    color: white;
                	background:  #5d8ea2;
                	text-shadow: 0 -1px 0 #777;
                	box-shadow: 0 2px 0 #777;
                	-webkit-box-shadow: 0 2px 0 #777;
                	-moz-box-shadow: 0 2px 0 #777; } } } } }

.content-left {
    background: red;
    float: left;
    height: 200px;
    width: 300px;
    padding: 30px 0 0 0; }
#slider {
    position:relative;
    width:318px; /* Change this to your images width */
    height:206px; /* Change this to your images height */
    /*background:url(images/loading.gif) no-repeat 50% 50%;*/
    overflow: hidden;
    a {
        border:0;
        display:block; }
    img {
        position:absolute;
        top:0px;
        width: 108px;
        left:0px;
        display:none; } }

        #contact-form input {
            border: 4px solid #ddd;
            padding: 10px;
            width: 650px;
            outline: none;
            font-size: 14px;
            background: #eee;
            margin-bottom: 15px;
            font-weight:bold;
            color: #ccc;
        }
        #contact-form textarea {
            border: 4px solid #ddd;
            padding: 10px;
            width: 650px;
            outline: none;
            font-size: 14px;
            background: #eee;
            height: 100px;
            font-weight: bold;
            color: #ccc;
        }
        #contact-form textarea:hover,
        #contact-form input:hover {
            background: #fff;
            border-color: #ccc;
        }
        #contact-form textarea:focus,
        #contact-form input:focus {
            border-color: $primary;
            background: #fff;
        }
        input.error {
            border-color: red !important;
        }
        label.error {
            margin-top: -44px;
            float: right;
            position: relative;
            right: 18px;
            font-weight: bold;
            font-size: 10px;
            color: red;
        }


        #home-content {
            background: rgba(0,0,0,0.5);
            width: 800px;
            height: 350px;
        }
        #home-slider-wrapper {
            width: 800px;
            height: 350px;
            position: absolute;
            top: 0; left: 0;
        }
        .nivo-controlNav {
            bottom: 10px !important;
        }
        #slider {
            width: 330px !important;
            height: 230px !important;
        }
            h2 span {
                display: block;
                font-family: Georgia;
                font-style: normal;
                font-size: 25px;
                margin-top: -10px;
                margin-bottom: 10px;
            }
            h2 span em {
                font-size: 13px !important;
                position: relative;
                top: -1px;
            }
            h2 strong {
                text-decoration: none;
                font-family: 'Dancing Script';
                font-size: 34px;
                color: #fe1e5a !important;
            }
            h2.about-title  {
                font-family: Georgia !important;
                font-size: 20px !important;
            }

/*
    Media Queries
*/

@media all and (orientation:portrait) {}
@media all and (orientation:landscape) {}
@media screen and (max-device-width: 480px) {
    // html { -webkit-text-size-adjust: none; -ms-text-size-adjust: none; }
}

/*
    Inline Print
*/

@media print {
    *{background:transparent !important;color:black
        !important;text-shadow:none !important;filter:none
        !important;-ms-filter:none !important;}
    a,a:visited{color:#444 !important;text-decoration:underline !important;}
    a[href]:after{content:" (" attr(href) ")";}
    abbr[title]:after{content:" (" attr(title) ")";}
    .ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after{content:"";}
    pre,blockquote{border:1px solid #999;page-break-inside:avoid;}
    thead{display:table-header-group;}
    tr,img{page-break-inside:avoid;}
    @page{margin:0.5cm;}
    p,h2,h3{orphans:3;widows:3;}
    h2,h3{page-break-after:avoid;}
}