@charset "UTF-8";
/* MikeKuzin.com Initial Development
   Version 2.0 Beta
---------------------------------------- */
/*
  ✰ HTML5 / SASSY CSS3 / PHP / jQuery = Yummy ✰
*/
/* Gloabls
---------------------------------------- */
/* Mixins
---------------------------------------- */
/*
    Working Space Below! Warning: untested and unstable~~~!
*/
/**
 *   ✰ HTML5 Boilerplate Override ✰
 */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

body {
  font: 13px/1.231 sans-serif;
  *font-size: small; }

select, input, textarea, button {
  font: 99% sans-serif; }

pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

html {
  overflow-y: scroll; }

a:hover, a:active {
  outline: none; }

ul, ol {
  margin-left: 2em; }

ol {
  list-style-type: decimal; }

nav ul, nav li {
  margin: 0;
  list-style: none;
  list-style-image: none; }

small {
  font-size: 85%; }

strong, th {
  font-weight: bold; }

td {
  vertical-align: top; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 15px; }

textarea {
  overflow: auto; }

.ie6 legend, .ie7 legend {
  margin-left: -7px; }

input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom; }

.ie7 input[type="checkbox"] {
  vertical-align: baseline; }

.ie6 input {
  vertical-align: text-bottom; }

label, input[type="button"], input[type="submit"], input[type="image"], button {
  cursor: pointer; }

button, input, select, textarea {
  margin: 0; }

input:invalid, textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0px 0px 5px red;
  -webkit-box-shadow: 0px 0px 5px red;
  box-shadow: 0px 0px 5px red; }

.no-boxshadow input:invalid, .no-boxshadow textarea:invalid {
  background-color: #f0dddd; }

::-moz-selection {
  background: #FF5E99;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #FF5E99;
  color: #fff;
  text-shadow: none; }

a:link {
  -webkit-tap-highlight-color: #FF5E99; }

button {
  width: auto;
  overflow: visible; }

.ie7 img {
  -ms-interpolation-mode: bicubic; }

body, select, input, textarea {
  color: #444; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }

a, a:active, a:visited {
  color: #607890; }

a:hover {
  color: #036; }

/*
    Global Rules .class format
*/
* {
  margin: 0 auto; }

* html,
* html body {
  width: 100%;
  height: 100%;
  font-size: 12px; }

.clearfix {
  zoom: 1;
  clear: both; }

.clearfix:before,
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden; }

.hidden {
  display: none;
  visibility: hidden; }

.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr; }

/* Colors
---------------------------------------- */
/* Layout && Globals
---------------------------------------- */
body {
  background: #333333 url(img/bg.png) repeat; }

header#main {
  width: 800px;
  margin: 0 auto; }

section {
  width: 800px; }

footer {
  width: 800px;
  margin: 0 auto; }

hr {
  background: url(img/hr.png) repeat-x;
  height: 8px;
  border: none !important; }

.clearfix {
  clear: both; }

/* IE6
---------------------------------------- */
body.ie6 a#logo {
  position: relative;
  behavior: expression((this.runtimeStyle.behavior="none")&&(this.pngSet?this.pngSet=true:(this.nodeName == "IMG" && this.src.toLowerCase().indexOf('.png')>-1?(this.runtimeStyle.backgroundImage = "none", this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.src + "',sizingMethod='image')",this.src = "http://sc-img.s3.amazonaws.com/clear.gif"):(this.origBg = this.origBg? this.origBg :this.currentStyle.backgroundImage.toString().replace('url("','').replace('")',''), this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.origBg + "',sizingMethod='crop')",this.runtimeStyle.backgroundImage = "none")), this.pngSet=true) ); }

/* Buttons
---------------------------------------- */
.button:after,
.button:before,
input.button-input:before,
input.button-input:after {
  content: '' !important;
  background: none !important;
  display: none !important; }

a#logo {
  background: url(img/logo_colors.png) no-repeat;
  width: 449px;
  height: 332px;
  display: block;
  position: absolute;
  top: -70px;
  margin-left: -90px; }

input.button-input {
  display: block;
  border: 1px solid white !important;
  height: 33px;
  width: 100%;
  margin-top: 15px;
  font: normal bold 14px/18px "Arial";
  position: relative;
  text-align: center;
  text-decoration: none;
  color: white;
  text-shadow: 0 -1px 0 #5d8ea2;
  -webkit-text-shadow: 0 -1px 0 #5d8ea2;
  -moz-text-shadow: 0 -1px 0 #5d8ea2;
  background: url(img/button-sprite.png) bottom center repeat-x; }
  input.button-input:before {
    content: url(img/button-sprite.png) top center no-repeat;
    height: 33px;
    width: 19px;
    overflow: hidden;
    position: absolute;
    left: -19px; }
  input.button-input:after {
    content: url(img/button-right.png);
    height: 33px;
    width: 19px;
    overflow: hidden;
    position: absolute;
    right: -19px; }

a.button {
  display: block;
  height: 33px;
  font: normal bold 14px/30px "Arial";
  position: relative;
  margin-left: 19px;
  margin-right: 19px;
  text-align: center;
  text-decoration: none;
  color: white;
  text-shadow: 0 -1px 0 #5d8ea2;
  -webkit-text-shadow: 0 -1px 0 #5d8ea2;
  -moz-text-shadow: 0 -1px 0 #5d8ea2;
  background: url(img/button-sprite.png) bottom center repeat-x; }
  a.button:before {
    content: url(img/button-sprite.png) top center no-repeat;
    height: 33px;
    width: 19px;
    overflow: hidden;
    position: absolute;
    left: -19px; }
  a.button:after {
    content: url(img/button-right.png);
    height: 33px;
    width: 19px;
    overflow: hidden;
    position: absolute;
    right: -19px; }

/* Header
---------------------------------------- */
header#main {
  margin-bottom: 30px; }
  header#main:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  header#main nav ul {
    float: right; }
    header#main nav ul li {
      display: inline-block;
      float: right; }
      header#main nav ul li.selected a {
        background: url(img/nav-bg.png) repeat;
        color: #5d8ea2;
        text-shadow: 0 1px 0 white;
        -webkit-text-shadow: 0 1px 0 white;
        -moz-text-shadow: 0 1px 0 white; }
      header#main nav ul li:hover a {
        top: 0px;
        text-indent: -9999px;
        color: #5d8ea2;
        box-shadow: inset 0 0 5px #333333;
        -webkit-box-shadow: inset 0 0 5px #333333;
        -moz-box-shadow: inset 0 0 5px #333333;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
        -webkit-text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
        -moz-text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5); }
        header#main nav ul li:hover a#home {
          background: rgba(0, 0, 0, 0.2) url(img/home-icon.png) center 110px no-repeat; }
        header#main nav ul li:hover a#about {
          background: rgba(0, 0, 0, 0.2) url(img/info-icon.png) center 110px no-repeat; }
        header#main nav ul li:hover a#contact {
          background: rgba(0, 0, 0, 0.2) url(img/contact-icon.png) center 110px no-repeat; }
        header#main nav ul li:hover a#services {
          background: rgba(0, 0, 0, 0.2) url(img/services-icon.png) center 110px no-repeat; }
      header#main nav ul li a {
        text-decoration: none !important;
        display: block;
        padding: 120px 15px 10px 15px;
        margin: 0 0 0 15px;
        min-width: 51px;
        text-align: center;
        cursor: pointer;
        font: normal normal 18px 'Dancing Script';
        color: #ccc;
        position: relative;
        top: -10px;
        text-shadow: 0 -1px 0 #333333;
        -webkit-text-shadow: 0 -1px 0 #333333;
        -moz-text-shadow: 0 -1px 0 #333333;
        border-radius: 0 0 5px 5px;
        -webkit-border-radius: 0 0 5px 5px;
        -moz-border-radius: 0 0 5px 5px;
        -k-border-radius: 0 0 5px 5px;
        -o-border-radius: 0 0 5px 5px;
        -webkit-transition: top;
        -webkit-transition-timing-function: ease-in;
        -webkit-transition-duration: 250ms; }

/* Section Rules
---------------------------------------- */
section {
  margin: 0 auto 25px;
  position: relative; }
  section:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  section div.content-left,
  section div.content {
    z-index: 10;
    background: white;
    padding: 30px 60px; }
    section div.content-left h2,
    section div.content h2 {
      font: normal italic 27px/27px "Dancing Script";
      margin-bottom: 15px;
      color: #5d8ea2; }
    section div.content-left p,
    section div.content p {
      color: #333c3f;
      line-height: 20px;
      font-size: 12px;
      margin-bottom: 10px; }
      section div.content-left p strong,
      section div.content p strong {
        color: #5d8ea2 !important; }
      section div.content-left p a,
      section div.content p a {
        color: #5d8ea2 !important;
        text-decoration: none; }
        section div.content-left p a:hover,
        section div.content p a:hover {
          text-decoration: underline; }
  section header {
    position: relative;
    background: #5d8ea2 url(img/header-bg.png) repeat-x;
    height: 51px;
    font: normal normal 25px/50px "Dancing Script";
    text-align: center;
    color: white;
    text-shadow: 0 -1px 0 #333c3f;
    -webkit-text-shadow: 0 -1px 0 #333c3f;
    -moz-text-shadow: 0 -1px 0 #333c3f; }
    section header:before {
      position: absolute;
      left: -46px;
      top: 20px;
      width: 46px;
      background: #5d8ea2;
      height: 52px;
      content: url(img/banner-left.png); }
    section header:after {
      position: absolute;
      right: -46px;
      top: 20px;
      width: 46px;
      background: #5d8ea2;
      height: 52px;
      content: url(img/banner-right.png); }

.section-footer {
  background: url(img/content-footer.png);
  z-index: 5;
  height: 18px;
  width: 792px;
  display: block;
  margin-top: -8px; }
  .section-footer:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

/* Footer Rules
---------------------------------------- */
footer #footer-left {
  width: 250px;
  background: white;
  float: left;
  margin-right: 30px;
  margin-bottom: 30px; }
  footer #footer-left #footer-left-container {
    padding: 20px; }
    footer #footer-left #footer-left-container p {
      font: normal normal 16px/24px "Georgia";
      color: #5d8ea2; }
      footer #footer-left #footer-left-container p.first-row {
        margin-bottom: 10px;
        margin-top: 5px; }
footer #footer-right {
  float: left;
  width: 520px; }
  footer #footer-right #footer-right-left {
    width: 250px;
    float: left; }
  footer #footer-right #footer-right-container {
    background: white;
    padding: 20px; }
    footer #footer-right #footer-right-container #tweet-blurb {
      margin-left: 260px;
      background: url(img/h2-vert.png) repeat-y left top;
      padding: 0 0 0 25px;
      height: 117px !important;
      font: normal normal 11px/22px "Arial"; }
      footer #footer-right #footer-right-container #tweet-blurb span {
        color: #5d8ea2; }
    footer #footer-right #footer-right-container #contact-blurb {
      background: url(img/chat-icon.png) no-repeat left center;
      padding: 0 0 0 70px;
      font: normal normal 16px/24px "Georgia";
      color: #5d8ea2; }
    footer #footer-right #footer-right-container .social {
      height: 16px;
      width: 16px;
      overflow: hidden;
      text-indent: -99999px;
      font-size: 0;
      display: inline-block;
      margin-bottom: 15px; }
      footer #footer-right #footer-right-container .social#facebook {
        background: url(img/facebook.png) no-repeat !important; }
      footer #footer-right #footer-right-container .social#twitter {
        background: url(img/twitter.png) no-repeat !important; }
      footer #footer-right #footer-right-container .social#flickr {
        background: url(img/flickr.png) no-repeat !important; }
  footer #footer-right #footer-right-footer {
    background: transparent; }
    footer #footer-right #footer-right-footer .small-logo {
      background: url(img/small-logo.png) no-repeat;
      width: 110px;
      height: 28px;
      display: inline-block;
      margin-top: 15px;
      overflow: hidden;
      text-index: -9999px;
      font-size: 0; }
    footer #footer-right #footer-right-footer p {
      margin-top: 15px;
      float: right;
      text-align: right;
      font: 11px/16px "Arial";
      color: #AAA; }
      footer #footer-right #footer-right-footer p a {
        color: #CCC;
        text-decoration: none; }
        footer #footer-right #footer-right-footer p a:hover {
          text-decoration: underline; }

/* Misc
---------------------------------------- */
ul.product-pricing li p em {
  font-style: italic; }

h2 {
  padding-top: 15px; }

.content-select {
  float: left;
  width: 190px;
  height: 100px;
  margin-right: 20px;
  background: purple;
  position: absolute;
  top: 0;
  left: 10px; }

ul.product-pricing {
  list-style: none;
  margin: 0;
  padding: 0; }
  ul.product-pricing li {
    clear: both;
    color: #333 !important;
    margin: 7px 0;
    font: normal 14px/20px "Arial";
    padding: 10px;
    border-radius: 5px;
    background: #eee; }
    ul.product-pricing li:nth-child(2n+1) {
      background: #e9e1f0; }
    ul.product-pricing li strong {
      color: #333 !important;
      float: right;
      /* Change Me */
      font: bold 16px 'Dancing Script'; }
    ul.product-pricing li p {
      color: #777 !important;
      margin: 7px 0 !important; }
      ul.product-pricing li p strong {
        float: right;
        color: #333 !important;
        float: right;
        /* Change Me */
        font: bold 16px 'Dancing Script'; }

.menu-wrap {
  position: absolute;
  top: 70px;
  bottom: 10px;
  overflow: hidden;
  width: 201px; }

#menu {
  background: none; }
  #menu ul.menu-list {
    list-style: none;
    margin: 0;
    padding: 0; }
    #menu ul.menu-list:after {
      content: url(img/flourish.png);
      position: relative;
      left: 45px; }
    #menu ul.menu-list li {
      margin: 10px; }
      #menu ul.menu-list li a {
        background: url(img/nav-bg.png) repeat;
        color: #5d8ea2;
        padding: 10px;
        text-align: center;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -k-border-radius: 5px;
        -o-border-radius: 5px;
        display: block;
        text-decoration: none;
        box-shadow: 0 2px 0 #ddd;
        -webkit-box-shadow: 0 2px 0 #ddd;
        -moz-box-shadow: 0 2px 0 #ddd;
        text-shadow: 0 1px 0 #fff;
        -moz-text-shadow: 0 1px 0 #fff;
        -webkit-text-shadow: 0 1px 0 #fff;
        font: normal bold 19px 'Dancing Script'; }
        #menu ul.menu-list li a:hover {
          color: white;
          background: #5d8ea2;
          text-shadow: 0 -1px 0 #777777;
          box-shadow: 0 2px 0 #777;
          -webkit-box-shadow: 0 2px 0 #777;
          -moz-box-shadow: 0 2px 0 #777; }

.content-left {
  background: red;
  float: left;
  height: 200px;
  width: 300px;
  padding: 30px 0 0 0; }

#slider {
  position: relative;
  width: 318px;
  height: 206px;
  overflow: hidden; }
  #slider a {
    border: 0;
    display: block; }
  #slider img {
    position: absolute;
    top: 0px;
    width: 108px;
    left: 0px;
    display: none; }

#contact-form input {
  border: 4px solid #ddd;
  padding: 10px;
  width: 650px;
  outline: none;
  font-size: 14px;
  background: #eee;
  margin-bottom: 15px;
  font-weight: bold;
  color: #ccc; }

#contact-form textarea {
  border: 4px solid #ddd;
  padding: 10px;
  width: 650px;
  outline: none;
  font-size: 14px;
  background: #eee;
  height: 100px;
  font-weight: bold;
  color: #ccc; }

#contact-form textarea:hover,
#contact-form input:hover {
  background: #fff;
  border-color: #ccc; }

#contact-form textarea:focus,
#contact-form input:focus {
  border-color: #5d8ea2;
  background: #fff; }

input.error {
  border-color: red !important; }

label.error {
  margin-top: -44px;
  float: right;
  position: relative;
  right: 18px;
  font-weight: bold;
  font-size: 10px;
  color: red; }

#home-content {
  background: rgba(0, 0, 0, 0.5);
  width: 800px;
  height: 350px; }

#home-slider-wrapper {
  width: 800px;
  height: 350px;
  position: absolute;
  top: 0;
  left: 0; }

.nivo-controlNav {
  bottom: 10px !important; }

#slider {
  width: 330px !important;
  height: 230px !important; }

h2 span {
  display: block;
  font-family: Georgia;
  font-style: normal;
  font-size: 25px;
  margin-top: -10px;
  margin-bottom: 10px; }

h2 span em {
  font-size: 13px !important;
  position: relative;
  top: -1px; }

h2 strong {
  text-decoration: none;
  font-family: 'Dancing Script';
  font-size: 34px;
  color: #fe1e5a !important; }

h2.about-title {
  font-family: Georgia !important;
  font-size: 20px !important; }

h3 {
  margin-bottom: 15px;
  margin-top: 15px !important;
  font-size: 15px;
  line-height: 22px; }

section#meta-inside div.content p {
  margin-top: 0px;
  margin-bottom: 15px;
  line-height: 23px; }

ul.product-pricing li p:nth-child(2) {
  border-top: 1px solid #ccc !important;
  padding-top: 10px; }

/*
    Media Queries
*/
/*
    Inline Print
*/
@media print {
  * {
    background: transparent !important;
    color: black         !important;
    text-shadow: none !important;
    filter: none         !important;
    -ms-filter: none !important; }

  a, a:visited {
    color: #444 !important;
    text-decoration: underline !important; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr, img {
    page-break-inside: avoid; }

  @page {
    margin: 0.5cm; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }
